# ============================================
# MinIO - HelmChart CRD (K3s Native)
# ============================================
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: minio
  namespace: kube-system
spec:
  repo: https://charts.min.io
  chart: minio
  version: "5.4.0"
  targetNamespace: infra
  createNamespace: false
  valuesContent: |-
    existingSecret: minio-secret

    mode: standalone

    persistence:
      enabled: true
      size: 20Gi
      storageClass: local-path

    service:
      type: ClusterIP
      port: 9000

    consoleService:
      type: ClusterIP
      port: 9001

    # Ingress cho S3 API
    ingress:
      enabled: true
      ingressClassName: traefik
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.tls.certresolver: letsencrypt
      hosts:
        - storage.anhnq.io.vn
      tls:
        - hosts:
            - storage.anhnq.io.vn

    # Ingress cho Console UI
    consoleIngress:
      enabled: true
      ingressClassName: traefik
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.tls.certresolver: letsencrypt
      hosts:
        - minio.anhnq.io.vn
      tls:
        - hosts:
            - minio.anhnq.io.vn
